#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  color: #61dafb;
}

.inicio {
  margin-right: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todolist-container {
  margin: 0 auto;
  padding: 1rem;
}

.todolist-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.adicionar-imagem-container, .todolist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.adicionar-imagem-container form input,
.adicionar-imagem-container form button,
.todolist-container form input,
.todolist-container form button {
  margin: 0.5rem;
}

.adicionar-imagem-container form input,
.todolist-container form input[type="text"],
#imagens input,
#tarefas input[type="text"] {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#tarefas input[type="text"] {
  margin-top: 10px;
}

#tarefas {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.adicionar-imagem-container form input::placeholder,
.todolist-container form input::placeholder,
#imagens input::placeholder,
#tarefas input::placeholder {
  transition: font-size 0.2s;
}

.adicionar-imagem-container form input:focus::placeholder,
.todolist-container form input:focus::placeholder,
#imagens input:focus::placeholder,
#tarefas input:focus::placeholder {
  font-size: 0.8rem;
}

.card-imagem-container {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
}

.card-imagem-container img {
  width: 100%;
  border-radius: 4px;
}

.card-tarefa-container {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
}

header {
  margin-bottom: 26px;
}

footer {
  background: #222;
  color: #fff;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}